*.sh            eol=lf
*.ac            eol=lf
*.am            eol=lf
*.dsw           eol=crlf
*.dsp           eol=crlf whitespace=space-before-tab
*.sln           eol=crlf
*.vcproj        eol=crlf
*.vcxproj*      eol=crlf
.gitattributes  export-ignore
.gitignore      export-ignore
INSTALL_WIN.txt eol=crlf
