.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
libtool
ltmain.sh
missing
stamp-h1
m4/
autom4te.cache
install-sh
depcomp
configure
aclocal.m4
compile
config.guess
config.h*
!msvc/config.h
config.log
config.status
config.sub
*.swp
doxygen.cfg
examples/listdevs
examples/xusb
examples/dpfp
examples/dpfp_threaded
examples/fxload
examples/hotplugtest
examples/sam3u_benchmark
tests/stress
*.exe
*.pc
doc/html
*.plg
*.ncb
*.opt
Debug
Release
*.user
*.suo
*.sdf
*.opensdf
*.patch
*~
*.orig
.dirstamp
.project
android/libs
android/obj
android/test_app/libs
android/test_app/obj
android/test_app/bin
android/test_app/gen
android/test_app/.*
android/test_app/out
android/test_app/local.properties
.autotools
.cproject
.externalToolBuilders
android/test_app/jni/examples
android/test_app/jni/.dl
android/test_app/jni/deps
