.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache
install-sh
depcomp
configure
aclocal.m4
compile
config.guess
config.h*
config.log
config.status
config.sub
*.swp
doxygen.cfg
lsusb
xusb
dpfp
dpfp_threaded
.exe
*.pc
fpusb-*.tar.bz2
fpusb-*.tar.gz
ChangeLog
doc/html
*.plg
*.ncb
*.opt
Debug
Release
*.user
