.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
libtool
ltmain.sh
missing
stamp-h1
m4/
autom4te.cache
install-sh
depcomp
configure
aclocal.m4
compile
config.guess
config.h*
!msvc/config.h
config.log
config.status
config.sub
*.swp
doxygen.cfg
lsusb
dpfp
dpfp_threaded
*.exe
*.pc
ChangeLog
doc/html
*.plg
*.ncb
*.opt
Debug
Release
*.user
