/*
 * resources for the driver installer library
 */


/*
 * DLLs
 */
// Make sure you set the path to your DDK as an include directory for the files below
AMD64_DLL1              BIN                     "redist\\wdf\\amd64\\WdfCoInstaller01009.dll"
AMD64_DLL2              BIN                     "redist\\winusb\\amd64\\winusbcoinstaller2.dll"
X86_DLL1                BIN                     "redist\\wdf\\x86\\WdfCoInstaller01009.dll"
X86_DLL2                BIN                     "redist\\winusb\\x86\\winusbcoinstaller2.dll"

/*
 * Installer executable requiring UAC elevation
 */
// Why do we need two installers? Glad you asked. If you try to run the x86 
// installer on an x64 system, you will get the annoying "This program might
// not have installed properly" prompt. So we must ensure 64 bit OS runs 64 bit exe.
AMD64_INSTALLER         BIN                     "x64\\Release\\lib\\driver-installer.exe"
X86_INSTALLER           BIN                     "Win32\\Release\\lib\\driver-installer.exe"
