name: linux

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run
# sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job
      # can access it
      - uses: actions/checkout@v2

      - name: setup prerequisites
        shell: bash
        run: |
          sudo apt update
          sudo apt install autoconf automake libtool libudev-dev m4

      - name: bootstrap
        shell: bash
        run: ./bootstrap.sh

      - name: netlink
        shell: bash
        run: .private/ci-build.sh --build-dir build-netlink -- --disable-udev

      - name: udev
        shell: bash
        run: .private/ci-build.sh --build-dir build-udev -- --enable-udev

      - name: umockdev test
        run: .private/ci-container-build.sh docker.io/amd64/ubuntu:rolling
